<!DOCTYPE html>
<html>
	<head>
		<title>Namelist</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<h1>Namelist</h1>
			<form>
				<input type="text" name="name">
				<input type="submit" name="submit" value="Add Name">
			</form>
			<div id="namelist">
			</div>
		</div>
	</body>
</html>